.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins';
    justify-content: center;
    height: 100vh;
    background-color:#b9ccd7;
   
  }
  
button
{
  font-family:'Poppins';
  font-size:15px; 
    margin: 20px 0;
  
}
  
  input[type="file"] {
    font-family: 'Poppins';
    justify-content: center;
    background-color: #b9ccd7;
    font: size 15px;
    margin: 20px 0;
    
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
